button {
    padding: 20px;
}


.image-to-show {
    width: 400px;
    height: 400px;
    display: none;

}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-image {
    display: block;
}

.restore-btn,
.stop-btn {
    margin-top: 30px;
    background-color: var(--btn-bg-col);
    border: 1px solid grey;
    color: var(--text-color);
}

#theme-toggler {
    background-color: var(--theme-toggler-bg-color);
    border: 1px solid grey;
    color: var(--text-color);
}

#timer {
    color: var(--text-color);
}

:root {
    --body-bg: #f5f5f5;
    --btn-bg-col: #f5f5f5;
    --theme-toggler-bg-color: #f3dada;
    --text-color: #252525;
}

.dark-mode {
    --body-bg: #252525;
    --btn-bg-col: #16121295;
    --theme-toggler-bg-color: #16121295;
    --text-color: #f5f5f5;
}

body {
    background: var(--body-bg);
}